.chat {
  width: 100%;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}
.border {
  width: 100%;
  height: 1px;
  background-color: grey;
  transform: scaleY(0.2);
}
header {
  width: 100%;
  height: 70px;
  position: relative;
  z-index: 999;
  .close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 22px;
    line-height: 1;
  }
  .head {
    width: 100%;
    position: absolute;
    bottom: 10px;
    // margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;
    .name {
      display: flex;
      align-items: center;
    }
    .setting {
      display: flex;
      .settingItem {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    :deep(.el-page-header__header) {
      width: 100%;
    }
    :deep(.el-page-header__back) {
      display: none;
    }
    :deep(.el-divider--vertical) {
      display: none;
    }
    p {
      display: block;
      font-size: 16px;
      margin-right: 10px;
    }
    .isOnline {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(79, 221, 79);
    }
  }
}

.messageList {
  padding: 20px 20px 0px 20px;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  position: relative;
  .opponentMsg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    p {
      max-width: 80%;
      background-color: rgb(0, 153, 255);
      padding: 10px;
      color: #fff;
      word-wrap: break-word;
      word-break: break-all;
      border-radius: 10px;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
    .avatar {
      margin-right: 10px;
    }
  }
  .time {
    width: 100%;
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .selfMsg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    p {
      margin-right: 10px;
      max-width: 80%;
      background-color: rgb(0, 153, 255);
      padding: 10px;
      color: #fff;
      word-wrap: break-word;
      word-break: break-all;
      border-radius: 10px;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }
}

.chatSetting {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  .setItem {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
}
.inputChat {
  width: 100%;
  flex: 1;
  position: relative;
  .writeMsg {
    width: 100%;
    height: 100%;
    .chatBox {
      width: 100%;
      height: 100%;
      padding: 0px 10px 10px;
      outline: none;
    }
  }
  .submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.fileContent {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  .img {
    width: 30px;
    height: 30px;
  }
  .fileInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    p {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 8px;
    }
    span {
      width: 100%;
      color: grey;
    }
  }
}
:deep(.el-dialog__title) {
  font-size: 14px;
}
